#### Range

In [1]:
print(range(5))

range(0, 5)

In [2]:
print(list(range(15)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [3]:
print(list(range(20,105,4)))

[20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104]

In [4]:
# see in above example , we use 101 for going to 100. because starting number is included and stop number is excluded.
#this reason for we write a 101 for getting 100.

In [5]:
roll_num=list(range(20,70,2))

In [6]:
roll_num

[20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68]

In [7]:
# Lets see Reverse function with range fucntion..

In [8]:
reverse=list(range(1200,33,-100)) #Lets Remember we have to minus sign for going backword.

In [9]:
reverse

[1200, 1100, 1000, 900, 800, 700, 600, 500, 400, 300, 200, 100]

#### loop function

In [10]:
fruits=["Mango","Banana","Peach","Plum","Grapes"]

In [11]:
fruits

['Mango', 'Banana', 'Peach', 'Plum', 'Grapes']

In [12]:
for seed in fruits:
    print(fruits)

['Mango', 'Banana', 'Peach', 'Plum', 'Grapes']
['Mango', 'Banana', 'Peach', 'Plum', 'Grapes']
['Mango', 'Banana', 'Peach', 'Plum', 'Grapes']
['Mango', 'Banana', 'Peach', 'Plum', 'Grapes']
['Mango', 'Banana', 'Peach', 'Plum', 'Grapes']

In [13]:
#lets apply for numbers

In [14]:
salary=[1000,2000,3000,5000,6000,9000,2000]

In [15]:
salary

[1000, 2000, 3000, 5000, 6000, 9000, 2000]

In [16]:
for money in salary:
    print(money)

1000
2000
3000
5000
6000
9000
2000

In [17]:
#Lets see anothe example of for loop with branching statement.

In [18]:
student_score=[77,99,68,47,88,87,34,66,54,98,89,78,69,58]

In [19]:
for marks in student_score:
    if marks>90:
        if marks>85:
            print(marks , "Distiction")
        else :
            print(marks , "First class")
    elif marks >60 and marks<85 :
        print(marks ,"First class")
    elif marks>45:
        print(marks ,"Second class")
    elif marks >35:
        print(marks ,"Just Pass")
    else:
        print(marks ,"You are fail, please try next time")

77 First class
99 Distiction
68 First class
47 Second class
88 Second class
87 Second class
34 You are fail, please try next time
66 First class
54 Second class
98 Distiction
89 Second class
78 First class
69 First class
58 Second class

In [20]:
salary=[1000,2000,3000,5000,7000,1000,2000,9000]
#then apply list comprehension.

In [21]:
sal=[val for val in salary if val==2000]

In [22]:
sal

[2000, 2000]

In [23]:
# for loop with else

In [24]:
#Print multiplication table with for loop with else.

In [25]:
for num in range(2,5):
    print("Multiplication table for",num)
    for i in range(1,9):
        print(num*i)
        if i ==10:
            print( "\n" )
else:
    print("*" * 20)
    print("Thats all")
    print("*" * 20)

Multiplication table for 2
2
4
6
8
10
12
14
16
Multiplication table for 3
3
6
9
12
15
18
21
24
Multiplication table for 4
4
8
12
16
20
24
28
32
********************
Thats all
********************

In [26]:
num=int(input("Enter Number which one you want a table"))

for i in range(1,10):
    print(str(num), 'X' ,str(i),"=",str(num*i))

Enter Number which one you want a table 8

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

In [27]:
num=int(input("Enter Number which one you want a table"))

for i in range(1,9):
    print(f"{num}X{i}={num*i}")

Enter Number which one you want a table 8

8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64

In [31]:
#Syntax of while loop
#Lets see

In [28]:
i=0
while i<=4:
    print(i)
    i=i+1

0
1
2
3
4

In [1]:
import time

In [2]:
result =time.localtime()

In [3]:
result

time.struct_time(tm_year=2024, tm_mon=7, tm_mday=24, tm_hour=15, tm_min=8, tm_sec=38, tm_wday=2, tm_yday=206, tm_isdst=0)

In [4]:
#Lets Start with enumerate.

In [5]:
student=["Saurav","Gaurav","Ramesh","Suresh","Mukesh"]

In [6]:
for i in enumerate(student):
    print(i)

(0, 'Saurav')
(1, 'Gaurav')
(2, 'Ramesh')
(3, 'Suresh')
(4, 'Mukesh')

In [7]:
student=["Sam","Gaurav","Rahul","Suresh","Sunita"]

In [8]:
for i,name in enumerate(student,1):
    print(i,name)

1 Sam
2 Gaurav
3 Rahul
4 Suresh
5 Sunita

In [9]:
#Lets start zip method.
#what is zip method ? zip method use when we join a two list. 
#see with example you better under stand

In [10]:
student_name=["Ramesh","Riya","Yashu","Rohit","Amisha"]
student_marks=[54,98,99,100,34]

In [11]:
student_details=list(zip(student_name,student_marks))

In [12]:
student_details

[('Ramesh', 54), ('Riya', 98), ('Yashu', 99), ('Rohit', 100), ('Amisha', 34)]

In [13]:
name,marks=list(zip(*student_details))

In [14]:
name

('Ramesh', 'Riya', 'Yashu', 'Rohit', 'Amisha')

In [15]:
marks

(54, 98, 99, 100, 34)

In [16]:
student_name=["Ramesh","Riya","Yashu","Rohit","Amisha"] #enumerate and zip one time
student_marks=[54,98,99,100,34]

In [17]:
for i,(name,marks) in enumerate(zip(student_name,student_marks),1):
    print(i,name,marks)

1 Ramesh 54
2 Riya 98
3 Yashu 99
4 Rohit 100
5 Amisha 34

In [18]:
salary=[8000,5000,6000,7000,3000]

In [19]:
for val in salary:
    if val==7000:
        break
    print(val)

8000
5000
6000

In [20]:
salary=[9000,5000,6000,6000,3000]

In [21]:
for val in salary:
    if val==6000:
        continue
    print(val)

9000
5000
3000