## Statistical Tools
This Tools helps us to again on the same line in order make dicision / in order to conclude something .I want to do some type of test.Like Hypothesis Testing.
## 1 - Ttest or Student Ttest.
## 2 - Anova -Analysis of Variance
## 3 -Chi-Square

## 1 Ttest or Student Test
There are Two types of Ttest
A- One Sample Test
B- Two Sample Test

In [2]:
import pandas as pd
hyp=pd.read_csv("https://raw.githubusercontent.com/training-ml/Files/main/Hypothesis%20ttest.csv")
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

--> A teacher want to teach student for a competative exam , she collected sample of the student marks from different school and based on her past experiance she believe that , these type of student will score more then 60 marks in the exam. Now she wants to conduct hypothesis test on the marks.

Ho=mu>=60

Ha=mu<=60

#### One Sample Test

In [3]:
xbar=hyp['Math1'].mean()
alpha=0.05
mu=60

In [4]:
import scipy.stats as st

In [5]:
st.ttest_1samp(hyp.Math1,mu)

TtestResult(statistic=-11.102736525713398, pvalue=1.3339158110547646e-22, df=199)

In [6]:
t,p=st.ttest_1samp(hyp.Math1,mu)

In [7]:
t

-11.102736525713398

In [8]:
p

1.3339158110547646e-22

## 2 Sample Test
A- Independent Sample
B- Paired Sample

In [9]:
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

## A- Independent Sample

In [10]:
hyp['Gender'].value_counts()

1    109
0     91
Name: Gender, dtype: int64

In [11]:
#How to Subset the Data on Gender

In [12]:
hyp[hyp['Gender']==1].Math1.head()

1     53
92    65
93    52
94    46
95    61
Name: Math1, dtype: int64

## Independent Sample

In [13]:
t,p=st.ttest_ind(hyp[hyp['Gender']==1].Math1,hyp[hyp['Gender']==0].Math1)

In [14]:
t

-0.41299864929688507

In [15]:
p

0.6800544974232143

## Paired Sample/Relational Sample

In [16]:
t,p=st.ttest_rel(hyp.Math1,hyp.Math2)

In [17]:
t

1.3555927189268238

In [18]:
p

0.1767652560550735

## 2 Annova (Analysis of Variance)
ANOVA is used to compare the differences in means among more than two groups. It accomplishes this by examining the variation in the data and identifying where this variation is located (hence its name). Specifically, ANOVA compares the amount of variation between groups with the amount of variation within groups.

--> Null Hypothesis , typically is that , all means are equal

--> The independent variables are categorical

--> Dependent Variable are continous

F value

Based of F score we will find p value

F=Sample means of betweeen groups /sample means of within groups.

"F" in F-score stands for Fisher. The F-score is named after its developer, Sir Ronald Fisher, a prominent statistician.

Example
If different types of drinks (coffee, water, milk, soda, etc.) have the same effects on the human body (e.g., reaction time in the morning).

Mean Reaction time

Null Hypothesis: The average reaction time on the human body is the same for all types of drinks.

Alternate Hypothesis: The average reaction time on the human body varies among different types of drinks.

Hypothesis Construction
Null Hypothesis for ANOVA states that the averages of dependent variables are the same across all the given groups.

The alternative hypothesis states that the means of the dependent variables are not the same for the given groups.

Ho:muA=muB=muC

Ha:not all are equal

## How its work behind the Scene

In [19]:
#step1 : Calculate the mean of each semester
#step2 : Calculate the grand mean
#step3 : Variation between,within
#step4 : calculate the mean squared variance of between and within
#step5 : calculate F statistics and corresponding p value

In [8]:
import pandas as pd
hyp=pd.read_csv('https://raw.githubusercontent.com/s4sauravv/Datasets/main/Semester%20marks.csv')

In [9]:
hyp.head()

   Student_ID  Semester  Total_Marks
0           1         1          365
1           2         3          376
2           3         1          411
3           4         3          436
4           5         2          366

--> As per Annova we need to find continous data based on the categorical variable

Total_Marks is continue variable and

and Semester are categorical variable

Ho - Average Marks of each semester are almost equal

Ha - is all are not equal

In [3]:
import numpy as np
import statsmodels.formula.api as sm

In [ ]:
pip install statsmodels

In [10]:
mod=sm.ols('Total_Marks ~ Semester',data=hyp).fit()

fit() -When we use fit. The fit() is started finding the relationship between semester 1,semester2 ,semester 3. it will start learning ,How is Variance. and Trying to find pattern, model is learning, and learn as much as possible.

ols= Ordinary least square method

tilde "~"

lm -Linear Model

In [11]:
import statsmodels.api as k

In [12]:
avo_table=k.stats.anova_lm(mod,typ=1)
avo_table

             df         sum_sq      mean_sq         F    PR(>F)
Semester    1.0     291.846746   291.846746  0.102572  0.749102
Residual  198.0  563366.873254  2845.287239       NaN       NaN

In [13]:
#Semester 1 Average Marks
print("1st Sem Avg Marks =  ",np.ceil(hyp['Total_Marks'][hyp['Semester']==1].mean()))
print("2nd Sem Avg Mraks =  ",np.ceil(hyp['Total_Marks'][hyp['Semester']==2].mean()))
print("3rd Sem Avg Marks =  ",np.ceil(hyp['Total_Marks'][hyp['Semester']==3].mean()))

1st Sem Avg Marks =   403.0
2nd Sem Avg Mraks =   393.0
3rd Sem Avg Marks =   406.0

## 3 Chi- Sample Test
The test most of the used for

Goodness of Fit to a distribution : - The chi squared test can be used to determine wheather your data obeys a known theoretical porbablity distribution such as normal or poisson distribution.

Example - How Much sales we can expect expect this week (lets say pizza business).According to a salesman below are the details

Expected Sales in Thousand ..........[25,28,21,30,45,58,57]
Observed(Actual) Sales in thousand ..............[23,26,25,31,48,63,58]
How expected and observed close to each other, how good it is, this is a goodness of fit .

Lets understand how to work on this situation.
We will do this hypothesis testing with a significance of 10% (0.1) (This will be given or you can test accordindg to business intrect)

(chi-sqaure statistics)

In [14]:
import numpy as np

#Expected [25,28,21,30,45,58,57]
#Observer [23,26,25,31,48,63,58]

chi_ind=[np.square(23-25)/25,
        np.square(26-28)/25,
        np.square(25-21)/21,
        np.square(31-30)/30,
        np.square(48-45)/45,
        np.square(63-58)/58,
        np.square(58-57)/57]

print("Our Chi - Square test statistics score ==> ",np.sum(chi_ind))

Our Chi - Square test statistics score ==>  1.763816437645839

## Lets Check -Square Distribution table ,
What is the chi -Square Distribution table ?
The Chi-Sqaure dsitribution Table is a table that shows the critical values of the chi-square distribution .To use the Chi-Square Distribution table ,You only need to know two values.

--> The Degrees of Freedom for the chi-square test

--> The alpha level for the test (common choices are 0.01,0.05,0.10)

Degree of Freedom - Which means you are allowed to choose/vary the data at the certain extent ,means .freedom is given to vary the data example -(N-1).Here N is Total events i.e(7-1)=6

DF = 6 and Significance level =0.10

and our test score is = 2.58

--> lets check the critical score where DF and Significance level converge

## Conclusion --
As the Critical Score (in the table )is greater than our test score (2.58) , we cannot reject the null hypothesis which also means that sales man prediction/expectation was correct.

## Covariance


--> A Systematic relationship between a pair of random variables where in a change in one variable reciprocated by an equivalent cahnge in another variable .

--> Covariance can take any value between -infinity to +infinity , where in the negative value is an indicator relationship wheareas a positive values represents the positive . relationship and when the value is zero, it indicates no relationship.

--> In addition to this ,when all the observation of the either variable are same ,the covariance will be zero.

--> When we change the unit of observation or any or both the two variables ,then there is no change in the strength of the relationship between two varibles but the value of covariance in changed.

## Corelation
--> A Measure which determines the change in one variable dure to change in other variable .

-->Corelation is of two types .i.e positive corelation or negative

--> corelation can take any value between -1 to +1 represent strong positive corellation and values close to -1 is an indicator and values close to -1 is an indicator of strong negative corelation

--> There are four measure of corelation

Scatter Diagram

Product moment corellation coefficient

Rank corellation coefficient

coefficient of concurrent deviation